@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}

:root {
    --title-: rgb(223, 201, 3);
}

body {
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/52/57/95/1000_F_252579585_aBvswBd8wS1Oi1jk1ML1U01YBxusKJul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    text-align: center;
    padding-bottom: 50px;
}

h1 {
    color: var(--title-);
    font-size: 1.5rem;
}

p { 
    color: white;
    font-weight: bold;
}
.box {
    min-width: 50%;
}
button {
    background-color: var(--title-);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--title-);
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#player-el {
    padding-top: 50px;
}
